<mat-menu #navMenu="matMenu" [overlapTrigger]="false">
  <ng-container *ngFor="let item of items">
    <!-- Handle main menu items -->
    <ng-container *ngIf="item.children">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.navMenu">
        <mat-icon>{{item.icon}}</mat-icon>
        <span fxHide fxShow.gt-xs> {{item.name | translate}} </span> 
      </button>
      <app-menu #menu [items]="item.children"></app-menu>
    </ng-container>
    <!-- Handle sub menu items -->
    <ng-container *ngIf="!item.children">
      <button mat-menu-item [routerLink]="item.path">
        <mat-icon>{{item.icon}}</mat-icon>
        <span fxHide fxShow.gt-xs> {{item.name | translate }}  </span>
      </button>
    </ng-container>
  </ng-container>
</mat-menu>