$dark-primary-palette: (
    50 : #e4f9f7,
    100 : #bdefea,
    200 : #91e4dd,
    300 : #64d9cf,
    400 : #43d1c4,
    500 : #22c9ba,
    600 : #1ec3b3,
    700 : #19bcab,
    800 : #14b5a3,
    900 : #0ca994,
    A100 : #d6fff9,
    A200 : #a3fff1,
    A400 : #70ffea,
    A700 : #57ffe6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);