/* For use in src/lib/core/theming/_palette.scss */
$dark-warn-palette: (
    50 : #fcfce5,
    100 : #f6f7be,
    200 : #f1f293,
    300 : #ebed68,
    400 : #e6e947,
    500 : #e2e527,
    600 : #dfe223,
    700 : #dade1d,
    800 : #d6da17,
    900 : #cfd30e,
    A100 : #ffffff,
    A200 : #feffcc,
    A400 : #fcff99,
    A700 : #fcff80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

