.productsPage-component {
  height: 500px;
  padding: 30px;
  text-align: center;
}


.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card {
  width: 200px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.product-card :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}