<div class="dashboard-component" fxFlex fxLayout="column">
  <h1> App title: {{'title' | translate }}</h1>
  <div class="app-settings" fxFlex fxLayout="column" fxLayoutAlign="space-between center">
    <div>
      <h2>Current language: {{ language$ | async }}</h2>
      <button mat-icon-button [ngClass]="routeAnimationsElements" (click)="changeLanguage('en')">
        <mat-icon svgIcon="en"></mat-icon>
      </button>
      <button mat-icon-button [ngClass]="routeAnimationsElements" (click)="changeLanguage('ro')">
        <mat-icon svgIcon="ro"></mat-icon>
      </button>
      <button mat-icon-button [ngClass]="routeAnimationsElements" (click)="changeLanguage('fr')">
        <mat-icon svgIcon="fr"></mat-icon>
      </button>
    </div>
  </div>

  <div fxFlex fxLayoutGap="20px" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="12px">
    <h2>Current theme: {{ theme$ | async }} </h2>
    <button mat-raised-button color="primary" [ngClass]="routeAnimationsElements" (click)="changeTheme('default-theme')"> Change to default theme</button>
    <button mat-raised-button color="accent" [ngClass]="routeAnimationsElements" (click)="changeTheme('dark-theme')"> Change to dark theme</button>
    <button mat-raised-button color="accent2" [ngClass]="routeAnimationsElements" (click)="changeTheme('crazy-theme')"> Change to crazy theme </button>
  </div>
  <div>
    <app-products-page></app-products-page>
  </div>
</div>