.dashboard-component {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
    border: 2px solid black;
    padding: 64px 20px 20px 20px;
    width: 100%;

    ::ng-deep {
        app-carousel-holder {
            width: 100%;
        }
    }

    div:first-child {
        border: 2px dashed brown;
        width: 100%;
    }

    div:nth-child(2) {
        border: 2px solid green;
        width: 100%;
    }
}