<div class="app-component" style="height: 100vh;" [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-toolbar #toolBara class="app-component__toolbar fixed" color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span (click)="navigateHome()"> {{ title }} </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/products" mat-button>Products</a>
        <a href="#" mat-button>User</a>
        <a href="#" mat-button>Cart</a>
        <a href="#" mat-button>Login / Sign Up</a>
        <a href="#" mat-button>Logout</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
        <a routerLink="/" mat-list-item>Home</a>
        <a [routerLink]="['/products']" mat-list-item>Products</a>
        <a href="#" mat-list-item>Cart</a>
        <a href="#" mat-list-item>Login / Sign Up</a>
        <a href="#" mat-list-item>Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #content cdkScrollable fxFlexFill>
      <div class="app-component__container" [@routeAnimations]="o.isActivated">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
