@import 'variables';

.mat-toolbar.mat-primary {
  -webkit-transition: 700ms;
  -ms-transition: 700ms;
  transition: 700ms;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

mat-toolbar {
  ::ng-deep {
    mat-toolbar-row {
      @media screen and (min-width: #{$md}) {
        width: 80%;
        margin: auto;
      }
    }
  }
}

.mat-toolbar.sticky:hover {
  opacity: 1;
}

.fixed {
  position: absolute;
  top: 0;
  z-index: 5;
  align-content: center;
  color: #fff;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  opacity: 0.6;
}

.app-component__container {
  min-height: 100vh;
  padding-top: 64px;
}

.app-component-navigation__container {
  ::ng-deep {
    span {
      max-width: 50px;
    }
  }
}

mat-sidenav {
  max-width: 50%;
}

.mobile-view {
  background-color: transparent !important;
}

@media screen and (max-width: #{$sm}) {
  ::ng-deep {
    mat-nav-list {
      padding-top: 60px !important;
    }
  }
}
// .active-link {
//   color: #673AB7;
//   font-weight: bold!important;
// }
