<div class="app-component" style="height: 100vh;" [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-toolbar #toolBara class="app-component__toolbar fixed" [class.mobile-view]="mobileView && enableBack" color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <button mat-icon-button *ngIf="!enableBack" color="warn" (click)="toggleSidenav()" fxShow="true" fxHide.gt-sm>
        <mat-icon >menu</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="enableBack" color="warn" (click)="toggleSidenav()" fxShow="true" fxHide.gt-sm>
        <mat-icon >navigate_before</mat-icon>
      </button>
      <div class="app-component-navigation__container" fxFlex fxLayoutAlign="space-between center">
        <span (click)="navigateHome()"  fxHide fxShow.gt-xs> {{ title }} </span>
        <span class="menu-spacer"></span>
        <div *ngIf="!enableBack">
          <app-main-menu [menuItems]="menuItems"></app-main-menu>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
        <a routerLink="/" mat-list-item>Home</a>
        <a [routerLink]="['/products']" mat-list-item>Products</a>
        <a href="#" mat-list-item>Cart</a>
        <a href="#" mat-list-item (click)="onLoginClick()" *ngIf="!isAuthenticated">Login / Sign Up</a>
        <a href="#" mat-list-item (click)="onLogoutClick()" *ngIf="isAuthenticated">Logout</a>
        <div>
          <p>Language</p>
          <button mat-icon-button (click)="changeLanguage('en')">
            <mat-icon svgIcon="en"></mat-icon>
          </button>
          <button mat-icon-button (click)="changeLanguage('ro')">
            <mat-icon svgIcon="ro"></mat-icon>
          </button>
          <button mat-icon-button (click)="changeLanguage('fr')">
            <mat-icon svgIcon="fr"></mat-icon>
          </button>
        </div>
        <div>
          <p>Theme: {{ theme$ | async }}</p>
          <button mat-flat-button color="primary" (click)="changeTheme('default-theme')"> Change to default theme</button>
          <button mat-flat-button color="warn" (click)="changeTheme('dark-theme')"> Change to dark theme</button>
          <button mat-flat-button color="accent" (click)="changeTheme('crazy-theme')"> Change to crazy theme </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #content cdkScrollable fxFlexFill>
      <div class="app-component__container" [@routeAnimations]="o.isActivated">
        <router-outlet #o="outlet"></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
