@import '../themes/palettes/primary-palette.scss';
// @import '../themes/palettes/accent-palette.scss';
@import '../themes/palettes/warn-palette.scss';

// Define theme
$dark-primary: mat-palette($dark-primary-palette);
$dark-accent:  mat-palette($mat-amber);
$dark-warn:    mat-palette($dark-warn-palette);


$custom-variables: (background-of-main: #616161);

$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

$dark-theme: map_merge($dark-theme, $custom-variables);
