@import '~@angular/material/theming';


@mixin app-footer-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);


    .footer-component {
        background-color: mat-color($primary);
    }
}